<div class="radioplayer">
    <div class="radioplayer-header clearfix">
        <div class="row">
            <div class="col-xs-12">
                <div class="navigation-webradio">
                    <div class="alert alert-danger text-center navigation-webradio-error">
                        Es gab einen Fehler beim laden des Webradio. Bitte versuchen Sie es später erneut.
                    </div>

                    <div class="navigation-webradio-image-blur"
                         style="background-image: url('http://f4.bcbits.com/img/a1822849645_16.jpg');"></div>

                    <div class="navigation-webradio-slider">
                        <div class="navigation-webradio-slider-channel" data-channel-name="live" data-cover-url="http://f4.bcbits.com/img/a1822849645_16.jpg">

                            <div class="navigation-webradio-content">
                                <div class="navigation-webradio-info-container">

                                    <a href="" class="navigation-webradio-play">
                                        <span class="icon ic-ic_play_sample"></span>
                                    </a>

                                    <span class="navigation-webradio-favorite-badge">
                                        <span class="ic-ic_favorite_inactive"></span>
                                    </span>

                                    <div class="navigation-webradio-cover">
                                        <img src="">
                                    </div>
                                    <div class="navigation-webradio-info">
                                        <div>Jetzt läuft</div>
                                        <br>
                                        <div><span class="artist">Mark Forster</span> - <span class="track">Chöre</span></div>
                                        <br>
                                        <div><span class="track-additional">(Vimalavong Extended Remix)</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="navigation-webradio-slider-channel" data-channel-name="black" data-cover-url="https://f4.bcbits.com/img/a0982730190_16.jpg">
                            <div class="navigation-webradio-content">
                                <div class="navigation-webradio-info-container">

                                    <a href="" class="navigation-webradio-play">
                                        <span class="icon ic-ic_play_sample"></span>
                                    </a>

                                    <span class="navigation-webradio-favorite-badge">
                                        <span class="ic-ic_favorite_inactive"></span>
                                    </span>

                                    <div class="navigation-webradio-cover">
                                        <img src="https://f4.bcbits.com/img/a0982730190_16.jpg">
                                    </div>
                                    <div class="navigation-webradio-info">
                                        <div>Jetzt läuft</div>
                                        <br>
                                        <div><span class="artist">Ben Prunty</span> - <span class="track">FTL</span></div>
                                        <br>
                                        <div><span class="track-additional">(Original Soundtrack)</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="navigation-webradio-slider-channel" data-channel-name="nmr" data-cover-url="https://f4.bcbits.com/img/a0685117997_16.jpg">
                            <div class="navigation-webradio-content">
                                <div class="navigation-webradio-info-container">

                                    <a href="" class="navigation-webradio-play">
                                        <span class="icon ic-ic_play_sample"></span>
                                    </a>

                                    <span class="navigation-webradio-favorite-badge">
                                        <span class="ic-ic_favorite_inactive"></span>
                                    </span>

                                    <div class="navigation-webradio-cover">
                                        <img src="https://f4.bcbits.com/img/a0685117997_16.jpg">
                                    </div>
                                    <div class="navigation-webradio-info">
                                        <div>Jetzt läuft</div>
                                        <br>
                                        <div><span class="artist">Wojciech Golczewski</span> - <span class="track">Dark Souls</span></div>
                                        <br>
                                        <div><span class="track-additional">(Original Soundtrack)</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

            <div class="clearfix webradio-popup-channel-select">
                <div class="webradio-popup-channel-select-main text-center">
                    <span class="icon jw-icon-playlist"></span>
                    <span>Alle JAM FM Streams</span>
                </div>

                <div class="webradio-popup-channel-select-items">
                    <div class="webradio-popup-channel-select-items-header hidden-sm hidden-md hidden-lg clearfix">
                        <span>Alle JAM FM Streams</span>
                        <span class="pull-right ic-ic_close webradio-popup-channel-select-items-header-close"></span>
                    </div>


                    <a href="#channel1" class="webradio-popup-channel-select-item active">
                        <div>
                            <img src="http://www.jam.fm/sites/radiocore2.radiocenterberlin.de/files/styles/medium/public/radiocore_radioplayer/webstream_jam_ws_1200x600px.png?itok=_OiZig2X">
                        </div>
                        <div>
                            <span>Channel #1</span>

                            <div class="animatedEqualizer">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </a>

                    <a href="#channel2" class="webradio-popup-channel-select-item">
                        <div>
                            <img src="http://www.jam.fm/sites/radiocore2.radiocenterberlin.de/files/styles/medium/public/radiocore_radioplayer/webstream_jam_ws_1200x600px.png?itok=_OiZig2X">
                        </div>
                        <div>
                            <span>Channel #2</span>

                            <div class="animatedEqualizer">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </a>

                    <a href="#channel3" class="webradio-popup-channel-select-item">
                        <div>
                            <img src="http://www.jam.fm/sites/radiocore2.radiocenterberlin.de/files/styles/medium/public/radiocore_radioplayer/webstream_jam_ws_1200x600px.png?itok=_OiZig2X">
                        </div>
                        <div>
                            <span>Channel #3</span>

                            <div class="animatedEqualizer">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            #include "../hero/_hero.html"
        </div>

        <div class="col-xs-12">
            #include "../ticker/_breaking-news.html"
        </div>
    </div>
</div>