@font-face {
    font-family: 'Rebrushed EU';
    src: url('../fonts/RebrushedEU.eot');
    src: url('../fonts/RebrushedEU.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RebrushedEU.woff2') format('woff2'),
    url('../fonts/RebrushedEU.woff') format('woff'),
    url('../fonts/RebrushedEU.ttf') format('truetype'),
    url('../fonts/RebrushedEU.svg#RebrushedEU') format('svg');
    font-weight: bold;
    font-style: normal;
}
