
<div class="row">
    <div class="col-xs-12">
        <footer>
            <div class="footer-additional-social">
                <a href="#">
                    <img src="../../../dist/jamfm/images/footer/ic_facebook.png">
                </a>

                <a href="#">
                    <img src="../../../dist/jamfm/images/footer/ic_twitter.png">
                </a>

                <a href="#">
                    <img src="../../../dist/jamfm/images/footer/ic_instagram.png">
                </a>

                <a href="#">
                    <img src="../../../dist/jamfm/images/footer/ic_youtube.png">
                </a>
            </div>

            <div class="footer-additional-links">
                <a href="#">AGB</a>
                <a href="#">Datenschutz</a>
                <a href="#">Impressum</a>
                <a href="#">Kontakt</a>
                <a href="#">Werbung</a>
                <a href="#">JAM FM im radioplayer</a>
            </div>
        </footer>
    </div>
</div>