<div class="footer-additional-widget">
    <div class="footer-additional-left">
        <img src="http://www2.jam.berlin.ethinking.de/resources/08525637/img/footer/footer_apps.jpg">
    </div>

    <div class="footer-additional-right">
        <a href="#" target="_blank">
            <img src="/dist/jamfm/images/footer-additional-widget/footer_apple_desktop.png">
        </a>

        <a href="#" target="_blank">
            <img src="/dist/jamfm/images/footer-additional-widget/footer_google_desktop.png">
        </a>
    </div>
</div>