<div class="hero hero-bottom-slider full-width" id="hero1" data-timeout="7000">
    <div class="hero__slider">

        <!-- FEATURED -->
        <a href="#" class="hero__slider__slide sponsored-featured">
            <figure>
                <picture>
                    <source srcset="../../../dist/jamfm/images/dummy/2x1_concert_candy.jpg"
                            media="(min-width: 1050px)">
                    <source srcset="../../../dist/jamfm/images/dummy/2x1_concert_candy.jpg"
                            media="(min-width: 767px)">
                    <img src="../../../dist/jamfm/images/dummy/2x1_concert_candy.jpg">
                </picture>

                <figcaption>
                    <div class="hero__slider__slide--featured__caption">
                        Tipp der Redaktion
                    </div>

                    <span class="headline">Das Antenne Niedersachsen stars for free Gewinspielangebot</span>
                    <span class="text">Lorem ipsum bla, lorem ipsum blabliblu, Lorem ipsum bla, lorem ipsum blabliblu, Lorem ipsum bla, lorem ipsum blabliblu</span>
                </figcaption>
            </figure>
        </a>

        <!-- SPONSORED -->
        <a href="#" class="hero__slider__slide sponsored-featured">
            <figure>
                <picture>
                    <source srcset="../../../dist/jamfm/images/dummy/2x1_games_01.png"
                            media="(min-width: 1050px)">
                    <source srcset="../../../dist/jamfm/images/dummy/2x1_games_01.png"
                            media="(min-width: 767px)">
                    <img src="../../../dist/jamfm/images/dummy/2x1_games_01.png">
                </picture>

                <figcaption>
                    <div class="hero__slider__slide--sponsored__caption">
                        <span>Anzeige | Unterstützt von</span>
                    </div>

                    <span class="headline">Headline a way more more longer</span>
                    <span class="text">Lorem ipsum bla, lorem ipsum blabliblu, Lorem ipsum bla, lorem ipsum blabliblu, Lorem ipsum bla, lorem ipsum blabliblu</span>
                </figcaption>
            </figure>
        </a>

        <a href="#" class="hero__slider__slide">
            <figure>
                <picture>
                    <source srcset="../../../dist/jamfm/images/dummy/2x1_promo_01.png"
                            media="(min-width: 1050px)">
                    <source srcset="../../../dist/jamfm/images/dummy/2x1_promo_01.png"
                            media="(min-width: 767px)">
                    <img src="../../../dist/jamfm/images/dummy/2x1_promo_01.png">
                </picture>

                <figcaption>
                    <span class="headline">Headline image 4 - FOOOO</span>
                    <span class="text">Lorem ipsum bla, lorem ipsum blabliblu, Lorem ipsum bla, lorem ipsum blabliblu, Lorem ipsum bla, lorem ipsum blabliblu</span>
                </figcaption>
            </figure>
        </a>

        <a href="#" class="hero__slider__slide">
            <figure>
                <picture>
                    <source srcset="../../../dist/jamfm/images/dummy/2x1_social_01.png"
                            media="(min-width: 1050px)">
                    <source srcset="../../../dist/jamfm/images/dummy/2x1_social_01.png"
                            media="(min-width: 767px)">
                    <img src="../../../dist/jamfm/images/dummy/2x1_social_01.png">
                </picture>

                <figcaption>
                    <span class="headline">Bundesliga-TV-Rechte: Fast alles bleibt beim alten</span>
                    <span class="text">Lorem ipsum bla, lorem ipsum blabliblu, Lorem ipsum bla, lorem ipsum blabliblu, Lorem ipsum bla, lorem ipsum blabliblu</span>
                </figcaption>
            </figure>
        </a>

        <a href="#" class="hero__slider__slide">
            <figure>
                <picture>
                    <source srcset="../../../dist/jamfm/images/dummy/2x1_takeover_01.png"
                            media="(min-width: 1050px)">
                    <source srcset="../../../dist/jamfm/images/dummy/2x1_takeover_01.png"
                            media="(min-width: 767px)">
                    <img src="../../../dist/jamfm/images/dummy/2x1_takeover_01.png">
                </picture>

                <figcaption>
                    <span class="headline">Headline a way</span>
                    <span class="text">Lorem ipsum bla, lorem ipsum blabliblu, Lorem ipsum bla, lorem ipsum blabliblu, Lorem ipsum bla, lorem ipsum blabliblu</span>
                </figcaption>
            </figure>
        </a>
    </div>

    <div class="hero__nav">
        <ul data-timeout="7000" class="clearfix">
            <li>
                <div class="hero-nav-progress"></div>
                <span>Lifehacks</span>
            </li>
            <li>
                <div class="hero-nav-progress"></div>
                <span>Bild des Tages</span>
            </li>
            <li>
                <div class="hero-nav-progress"></div>
                <span>Games</span>
            </li>
            <li>
                <div class="hero-nav-progress"></div>
                <span>Euer Job</span>
            </li>
            <li>
                <div class="hero-nav-progress"></div>
                <span>Hoppla</span>
            </li>
        </ul>

    </div>
</div>