<section class="breaking-news" id="w1">
  <div class="row">

    <div class="col-xs-12 hidden-lg hidden-md">
      <span class="title">
        <a href="#" aria-hidden="true" class="ic-ic_share social-share-overlay"
           data-headline="Headline"
           data-share-facebook="Facebook share link"
           data-share-facebook-icon="/dist/jamfm/images/social-sharing_stream/ic_sharing_fb.png"
           data-share-twitter="Twitter share link"
           data-share-twitter-icon="/dist/jamfm/images/social-sharing_stream/ic_sharing_twitter.png"
           data-share-whatsapp="Whatsapp share link"
           data-share-whatsapp-icon="/dist/jamfm/images/social-sharing_stream/ic_sharing_whatsapp.png"
           data-share-tumblr="Whatsapp share link"
           data-share-tumblr-icon="/dist/jamfm/images/social-sharing_stream/ic_sharing_tumblr.png"
           data-share-mail="Mailto share link"
           data-share-mail-icon="/dist/jamfm/images/social-sharing_stream/ic_sharing_mail.png"
           data-share-copy="true"
           data-share-copy-icon="/dist/jamfm/images/social-sharing_stream/ic_sharing_copy.png"
           data-share-print="true"
           data-share-print-icon="/dist/jamfm/images/social-sharing_stream/ic_sharing_print.png"
        ></a>

        <div class="hidden-lg pull-right">
          <a href="#" class="breaking-news-close ic-ic_close" aria-hidden="true"></a>
        </div>
      </span>
    </div>

    <div class="col-xs-12 col-md-11">
      <ul class="breaking-news__slider">
        <li class="breaking-news__slide">
            <div class="text marquee"
                  data-duration="15000"
                  data-startVisible="true"
                  data-pauseOnHover="true"
                  data-delayBeforeStart="1000"
                  data-duplicated="true">
              <div>
                  <a href="/article.html">
                      <span>+++ Eilmeldung +++&nbsp;</span>
                      <span class="headline">Sachsen-Anhalt will konsequenter abschieben</span>:
                      <span class="kicker">Dafür will Innenminister Holger Stahlknecht mehr Leute einstellen.</span>
                  </a>
              </div>

                <div>
                    <a href="/article.html">
                        <span>+++ Eilmeldung2 +++&nbsp;</span>
                        <span class="headline">Sachsen-Anhalt will konsequenter abschieben</span>:
                        <span class="kicker">Dafür will Innenminister Holger Stahlknecht mehr Leute einstellen.</span>
                    </a>
                </div>
            </div>

            <div class="text marquee"
                  data-duration="15000"
                  data-startVisible="true"
                  data-pauseOnHover="true"
                  data-delayBeforeStart="1000"
                  data-duplicated="true">
                <a href="/article.html">
                  <span>+++&nbsp;</span>
                  <span class="headline">Super Meldung Nummer 2</span>:
                  <span class="kicker">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</span>
                </a>
            </div>
        </li>
      </ul>
    </div>

    <div class="col-xs-0 col-md-1 text-center visible-md visible-lg">
      <a href="#" aria-hidden="true" class="ic-ic_share social-share-overlay"
         data-headline="Headline"
         data-share-facebook="Facebook share link"
         data-share-facebook-icon="/dist/jamfm/images/social-sharing_stream/ic_sharing_fb_68.png"
         data-share-twitter="Twitter share link"
         data-share-twitter-icon="/dist/jamfm/images/social-sharing_stream/ic_sharing_twitter_68.png"
         data-share-whatsapp="Whatsapp share link"
         data-share-whatsapp-icon="/dist/jamfm/images/social-sharing_stream/ic_sharing_whatsapp_68.png"
         data-share-tumblr="Whatsapp share link"
         data-share-tumblr-icon="/dist/jamfm/images/social-sharing_stream/ic_sharing_tumblr_68.png"
         data-share-mail="Mailto share link"
         data-share-mail-icon="/dist/jamfm/images/social-sharing_stream/ic_sharing_mail.png"
         data-share-copy="true"
         data-share-copy-icon="/dist/jamfm/images/social-sharing_stream/ic_sharing_copy.png"
         data-share-print="true"
         data-share-print-icon="/dist/jamfm/images/social-sharing_stream/ic_sharing_print.png"
      ></a>
      <a class="breaking-news-close ic-ic_close" href="#" aria-hidden="true"></a>
    </div>
  </div>
</section>