<div class="row">
    <div class="col-xs-12">
        <h1 class="widget-title">Title of the widget</h1>
    </div>
</div>

<div class="dmh-row">
    <div class="col-xs-12">
        <div class="jam-teaser-topper"></div>
    </div>

    <div class="dmh-col dmh-col-4c">
        <a href="#" class="teaser teaser-4c">
            <div class="row">
                <div class="content">
                    <div class="col-xs-12">
                        <div class="teaser-image">
                            <div class="teaser-image-box">
                                <img src="../../../dist/jamfm/images/dummy/2x1_games_02.jpg">
                                <!--play flag for video content-->
                                <div class="post-type-icon"><span class="ic-ic_playFlag"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="teaser-text">
                            <span class="teaser-header">Spongebob Squarepants</span>
                            <span class="teaser-body"><span class="multiline-ellipsis">Who lives in a pineapple...?</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="dmh-col dmh-col-4c">
        <a href="#" class="teaser teaser-4c">
            <div class="row">
                <div class="content">
                    <div class="col-xs-12">
                        <div class="teaser-image">
                            <div class="teaser-image-box">
                                <img src="../../../dist/jamfm/images/dummy/2x1_jungle_02.jpg">
                                <!--play flag for video content-->
                                <div class="post-type-icon"><span class="ic-ic_playFlag"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="teaser-text">
                            <span class="teaser-header">Spongebob Squarepants</span>
                            <span class="teaser-body"><span class="multiline-ellipsis">Who lives in a pineapple under the sea?</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="teaser-footer sponsored">
                <span class="footer-text">ANZEIGE</span>
            </div>
        </a>
    </div>
    <div class="dmh-col dmh-col-4c">
        <a href="#" class="teaser teaser-4c">
            <div class="row">
                <div class="content">
                    <div class="col-xs-12">
                        <div class="teaser-image">
                            <div class="teaser-image-box">
                                <img src="../../../dist/jamfm/images/dummy/2x1_concert_vegas.jpg">
                                <!--content type not mandatory-->
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12">
                        <div class="teaser-text">
                            <span class="teaser-header">Spongebob Squarepants</span>
                            <span class="teaser-body"><span class="multiline-ellipsis">Who lives in a pineapple under the sea?</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="dmh-col dmh-col-4c">
        <a href="#" class="teaser teaser-4c">
            <div class="row">
                <div class="content">
                    <div class="col-xs-12">
                        <div class="teaser-image">
                            <div class="teaser-image-box">
                                <img src="../../../dist/jamfm/images/dummy/2x1_snapchat_01.jpg">
                                <!--gallery flag for gallery content-->
                                <div class="post-type-icon"><span class="ic-ic_galleryFlag"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="teaser-text">
                            <span class="teaser-header">Spongebob Squarepants</span>
                            <span class="teaser-body"><span class="multiline-ellipsis">Who lives in a pineapple under the sea?</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="teaser-footer featured">
                <span class="footer-text">JAM FM TIPP</span>
            </div>

        </a>
    </div>
</div>