<div class="listed-box closed">
    <div class="dmh-row">
        <div class="col-xs-12">
            <div class="jam-teaser-topper"></div>
        </div>
        <div class="dmh-col dmh-col-listed">
            <a href="#" class="teaser teaser-listed">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="teaser-sidebar-content">
                            <div class="teaser-list-index unlisted">
                                <img class="teaser-bullet" src="/dist/jamfm/images/teasers/ic_bolt.png">
                            </div>
                            <span class="teaser-header">Spongebob Squarepants</span>
                        </div>
                        <div class="content">
                            <div class="teaser-image">
                                <div class="teaser-image-box">
                                    <img src="http://lorempixel.com/400/200/">
                                    <div class="post-type-icon"><span class="ic-ic_audioFlag"></span></div>
                                </div>
                            </div>
                            <div class="teaser-text-box">
                                <div class="teaser-text">
                                    <span class="teaser-header">Spongebob Squarepants</span>
                                    <span class="teaser-body">Als Gregor Samsa eines Morgens aus unruhigen Träumen erwachte...</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="teaser-footer featured">
                    <span class="footer-text">JAM FM TIPP</span>
                </div>
            </a>
        </div>

        <div class="dmh-col dmh-col-listed">
            <a href="#" class="teaser teaser-listed">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="teaser-sidebar-content">
                            <div class="teaser-list-index unlisted">
                                <img class="teaser-bullet" src="/dist/jamfm/images/teasers/ic_bolt.png">
                            </div>
                            <span class="teaser-header">Spongebob Squarepants</span>
                        </div>
                        <div class="content">
                            <div class="teaser-image">
                                <div class="teaser-image-box">
                                    <img src="http://lorempixel.com/400/200/">
                                    <div class="post-type-icon"><span class="ic-ic_playFlag"></span></div>
                                </div>
                            </div>
                            <div class="teaser-text-box">
                                <div class="teaser-text">
                                    <span class="teaser-header">Spongebob Squarepants</span>
                                    <span class="teaser-body">Als Gregor Samsa eines Morgens aus unruhigen Träumen erwachte, fand er sich in seinem Bett zu einem ungeheueren Ungeziefer verwandelt. </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </a>
        </div>

        <div class="dmh-col dmh-col-listed">
            <a href="#" class="teaser teaser-listed">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="teaser-sidebar-content">
                            <div class="teaser-list-index unlisted">
                                <img class="teaser-bullet" src="/dist/jamfm/images/teasers/ic_bolt.png">
                            </div>
                            <span class="teaser-header">Spongebob Squarepants</span>
                        </div>
                        <div class="content">
                            <div class="teaser-image">
                                <div class="teaser-image-box">
                                    <img src="http://lorempixel.com/400/200/">
                                    <div class="post-type-icon"><span class="ic-ic_playFlag"></span></div>
                                </div>
                            </div>
                            <div class="teaser-text-box">
                                <div class="teaser-text">
                                    <span class="teaser-header">Spongebob Squarepants</span>
                                    <span class="teaser-body">Who lives in a pineapple under the sea?</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="teaser-footer sponsored">
                    <span class="footer-text">SPONSORED</span>
                </div>
            </a>
        </div>
    </div>
    <div class="mobile-listed-expand">
        <span class="listed-expand-button">
            +
        </span>
    </div>
</div>

