<div class="dmh-row">
    <div class="col-xs-12">
        <div class="jam-teaser-topper"></div>
    </div>

    <div class="dmh-col dmh-col-full">
        <a href="#" class="teaser teaser-full">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="content">
                        <div class="teaser-image teaser-full-image">
                            <div class="teaser-image-box">
                                <img src="http://lorempixel.com/400/200/">
                            </div>
                        </div>
                        <div class="teaser-text-box">
                            <div class="teaser-text">
                                <span class="teaser-header">Spongebob Squarepants</span>
                                <span class="teaser-body">Als Gregor Samsa eines Morgens aus unruhigen Träumen erwachte, fand er sich in seinem Bett zu einem ungeheueren Ungeziefer verwandelt. Er lag auf seinem panzerartig harten Rücken und sah, wenn er den Kopf ein wenig hob, seinen gewölbten, braunen, von bogenförmigen Versteifungen geteilten Bauch, auf dessen Höhe sich die Bettdecke, zum gänzlichen Niedergleiten bereit, kaum noch erhalten konnte.</span>
                            </div>
                        </div>
                        <div class="teaser-footer sponsored">
                            <span class="footer-text">SPONSORED</span>
                        </div>
                    </div>

                </div>
            </div>

        </a>
    </div>


    <div class="dmh-col dmh-col-full">
        <a href="#" class="teaser teaser-full">
            <div class="row">
                <div class="col-xs-12">
                    <div class="content">
                        <div class="teaser-image teaser-full-image">
                            <div class="teaser-image-box">
                                <img src="http://lorempixel.com/400/200/">
                            </div>
                        </div>
                        <div class="teaser-text-box">
                            <div class="teaser-text">
                                <span class="teaser-header">Spongebob Squarepants</span>
                                <span class="teaser-body">Als Gregor Samsa eines Morgens aus unruhigen Träumen erwachte, fand er sich in seinem Bett zu einem ungeheueren Ungeziefer verwandelt. Er lag auf seinem panzerartig harten Rücken und sah, wenn er den Kopf ein wenig hob, seinen gewölbten, braunen, von bogenförmigen Versteifungen geteilten Bauch, auf dessen Höhe sich die Bettdecke, zum gänzlichen Niedergleiten bereit, kaum noch erhalten konnte.</span>
                            </div>
                        </div>
                        <div class="teaser-footer featured">
                            <span class="footer-text">JAM FM TIP</span>
                        </div>
                    </div>

                </div>
            </div>

        </a>
    </div>
</div>