<div class="dmh-row">
    <div class="col-xs-12">
        <div class="jam-teaser-topper"></div>
    </div>
    <div class="dmh-col dmh-col-squ">
        <a href="#" class="teaser teaser-square">
            <div class="row">
                <div class="content">
                    <div class="col-xs-12">
                        <div class="teaser-image">
                            <div class="blurred-image-box">
                                <!--Please insert the same image twice, once as bg image and once as a normal img element-->
                                <div class="square-image-background" style="background-image: url('http://lorempixel.com/200/200/');">
                                </div>
                            </div>
                            <img src="http://lorempixel.com/200/200/">
                        </div>


                    </div>
                    <div class="col-xs-12">
                        <div class="teaser-text">
                            <span class="teaser-header">Spongebob Squarepants</span>
                            <span class="teaser-body">Who lives in a pineapple under the sea?</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>


    <div class="dmh-col dmh-col-squ">
        <a href="#" class="teaser teaser-square">
            <div class="row">
                <div class="content">
                    <div class="col-xs-12">
                        <div class="teaser-image">
                            <div class="blurred-image-box">
                                <!--Please insert the same image twice, once as bg image and once as a normal img element-->
                                <div class="square-image-background" style="background-image: url('http://lorempixel.com/200/200/');">
                                </div>
                            </div>
                            <img src="http://lorempixel.com/200/200/">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="teaser-text">
                            <span class="teaser-header">Spongebob Squarepants</span>
                            <span class="teaser-body">Are ya ready kids? Aye aye captain! I can't hear you! Aye aye captain! Who lives in a pineapple under the sea? Absorbent and yellow and porous is he! If nautical nonsense be something you wish, then drop on the deck and flop like a fish!</span>
                        </div>
                    </div>
            </div>
            </div>
                <div class="teaser-footer sponsored">
                    <span class="footer-text">ANZEIGE</span>
                </div>
        </a>
    </div>
    <div class="dmh-col dmh-col-squ">
        <a href="#" class="teaser teaser-square">
            <div class="row">
                <div class="content">
                    <div class="col-xs-12">
                        <div class="teaser-image">
                            <div class="blurred-image-box">
                                <!--Please insert the same image twice, once as bg image and once as a normal img element-->
                                <div class="square-image-background" style="background-image: url('http://lorempixel.com/200/200/');">
                                </div>
                            </div>
                            <img src="http://lorempixel.com/200/200/">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="teaser-text">
                            <span class="teaser-header">Spongebob Squarepants</span>
                            <span class="teaser-body">Who lives in a pineapple under the sea? Absorbent and yellow and porous is he! If nautical nonsense be something you wish, then drop on the deck and flop like a fish!</span>
                        </div>
                    </div>
                </div>
            </div>
                <div class="teaser-footer featured">
                    <span class="footer-text">JAM FM TIPP</span>
                </div>
        </a>
    </div>
    <div class="dmh-col dmh-col-squ">
        <a href="#" class="teaser teaser-square">
            <div class="row">
                <div class="content">
                    <div class="col-xs-12">
                        <div class="teaser-image">
                            <div class="blurred-image-box">
                                <!--Please insert the same image twice, once as bg image and once as a normal img element-->
                                <div class="square-image-background" style="background-image: url('http://lorempixel.com/200/200/');">
                                </div>
                            </div>
                            <img src="http://lorempixel.com/200/200/">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="teaser-text">
                            <span class="teaser-header">Spongebob Squarepants</span>
                            <span class="teaser-body">Are ya ready kids? Aye aye captain! I can't hear you! Aye aye captain! Who lives in a pineapple under the sea? Absorbent and yellow and porous is he! If nautical nonsense be something you wish, then drop on the deck and flop like a fish!</span>
                        </div>
                    </div>

            </div>
            </div>
            <div class="teaser-footer sponsored">
                <span class="footer-text">ANZEIGE</span>
            </div>
        </a>
    </div>
    <div class="dmh-col dmh-col-squ">
        <a href="#" class="teaser teaser-square">
            <div class="row">
                <div class="content">
                    <div class="col-xs-12">
                        <div class="teaser-image">
                            <div class="blurred-image-box">
                                <!--Please insert the same image twice, once as bg image and once as a normal img element-->
                                <div class="square-image-background" style="background-image: url('http://lorempixel.com/200/200/');">
                                </div>
                            </div>
                            <img src="http://lorempixel.com/200/200/">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="teaser-text">
                            <span class="teaser-header">Spongebob Squarepants</span>
                            <span class="teaser-body">Are ya ready kids? Aye aye captain! I can't hear you! Aye aye captain! Who lives in a pineapple under the sea? Absorbent and yellow and porous is he!</span>
                        </div>
                    </div>
            </div>
            </div>
            <div class="teaser-footer sponsored">
                <span class="footer-text">ANZEIGE</span>
            </div>
        </a>
    </div>
</div>