<div class="navigation-webradio hidden">
    <div class="alert alert-danger text-center navigation-webradio-error">
        Es gab einen Fehler beim laden des Webradio. Bitte versuchen Sie es später erneut.
    </div>

    <div class="navigation-webradio-image-blur"
         style="background-image: url('http://f4.bcbits.com/img/a1822849645_16.jpg');"></div>

    <div class="navigation-webradio-channels">
        <div class="navigation-webradio-channel current" data-index="0">
            <div>
                <span>
                    <span class="strong">JAM FM</span> New music radio
                </span>
            </div>
        </div>
        <div class="navigation-webradio-channel" data-index="1">
            <div>
                <span>
                    <span class="strong">JAM FM</span> Black Label
                </span>
            </div>
        </div>
        <div class="navigation-webradio-channel" data-index="2">
            <div>
                <span>
                    <span class="strong">JAM FM</span> Live
                </span>
            </div>
        </div>
    </div>

    <div class="navigation-webradio-slider">
        <div class="navigation-webradio-slider-channel" data-channel-name="air" data-cover-url="">

            <div class="navigation-webradio-content">
                <div class="navigation-webradio-info-container">

                    <a href="" class="navigation-webradio-play">
                        <span class="icon ic-ic_playStream"></span>
                    </a>

                    <div class="navigation-webradio-cover">
                        <img src="http://f4.bcbits.com/img/a1822849645_16.jpg">
                    </div>
                    <div class="navigation-webradio-info">
                        <div>Jetzt läuft</div>
                        <br>
                        <div>
                            <span class="track">Track name</span><span class="artist">Artist name</span>
                            <span class="track-additional"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="navigation-webradio-slider-channel" data-channel-name="black" data-cover-url="">
            <div class="navigation-webradio-content">
                <div class="navigation-webradio-info-container">

                    <a href="" class="navigation-webradio-play">
                        <span class="icon ic-ic_playStream"></span>
                    </a>

                    <div class="navigation-webradio-cover">
                        <img src="https://f4.bcbits.com/img/a0982730190_16.jpg">
                    </div>
                    <div class="navigation-webradio-info">
                        <div>Jetzt Live on Air</div>
                        <br>
                        <div>
                            <span class="track">Track name</span><span class="artist">Artist name</span>
                            <span class="track-additional"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="navigation-webradio-slider-channel" data-channel-name="nmr" data-cover-url="">
            <div class="navigation-webradio-content">
                <div class="navigation-webradio-info-container">

                    <a href="" class="navigation-webradio-play">
                        <span class="icon ic-ic_playStream"></span>
                    </a>

                    <div class="navigation-webradio-cover">
                        <img src="https://f4.bcbits.com/img/a0685117997_16.jpg">
                    </div>
                    <div class="navigation-webradio-info">
                        <div>Jetzt Live on Air</div>
                        <br>
                        <div>
                            <span class="track">Track name</span><span class="artist">Artist name</span>
                            <span class="track-additional">feat. Macy Gray</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="navigation-webradio-loading">
        <span class="ic-ic_spinner"></span>
    </div>
</div>