<div class="container container-nav">
    <nav class="navigation navigation-burger">
        <div class="navigation-container">
            <div class="navigation-left">
                <div class="clearfix">
                    <ul class="nav navbar-nav">
                        <li class="dropdown navigation-first-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <img src="/dist/jamfm/images/menu/ic_menu.png">
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a href="#">
                                        <span>On Air</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>&nbsp;</li>
                                        <li><a tabindex="-1" href="#"><span>Second level</span></a></li>
                                        <li><a href="https://seriousmonkey.de"><span>Second level</span></a></li>
                                        <li><a href="#"><span>Second level</span></a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#">
                                        <span>Mediathek</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>&nbsp;</li>
                                        <li><a tabindex="-1" href="#"><span>Second level 2</span></a></li>
                                        <li><a href="https://seriousmonkey.de"><span>Second level 2</span></a></li>
                                        <li><a href="#"><span>Second level 2</span></a></li>
                                        <li><a href="#"><span>Second level 2</span></a></li>
                                        <li><a href="#"><span>Second level 2</span></a></li>
                                        <li><a href="#"><span>Second level 2</span></a></li>
                                        <li><a href="#"><span>Second level 2</span></a></li>
                                        <li><a href="#"><span>Second level 2</span></a></li>
                                        <li><a href="#"><span>Second level 2</span></a></li>
                                        <li><a href="#"><span>Second level 2</span></a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#">
                                        <span>Online</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>&nbsp;</li>
                                        <li><a tabindex="-1" href="#"><span>Second level 3</span></a></li>
                                        <li><a href="#"><span>Second level 3</span></a></li>
                                        <li><a href="#"><span>Second level 3</span></a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#">
                                        <span>Events</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>&nbsp;</li>
                                        <li><a tabindex="-1" href="#"><span>Second level 3</span></a></li>
                                        <li><a href="#"><span>Second level 3</span></a></li>
                                        <li><a href="#"><span>Second level 3</span></a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#">
                                        <span>Team</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>&nbsp;</li>
                                        <li><a tabindex="-1" href="#"><span>Second level 3</span></a></li>
                                        <li><a href="#"><span>Second level 3</span></a></li>
                                        <li><a href="#"><span>Second level 3</span></a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#">
                                        <span>Style Chronicle</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>&nbsp;</li>
                                        <li><a tabindex="-1" href="#"><span>Second level 3</span></a></li>
                                        <li><a href="#"><span>Second level 3</span></a></li>
                                        <li><a href="#"><span>Second level 3</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Über uns</span>
                                    </a>
                                </li>

                                <li>
                                    <div class="navigation-search">
                                        <form action="" method="">
                                            <input type="text" class="form-control" name="search">
                                            <span class="ic-ic_search"></span>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="navigation-center">
                <div class="navigation-center-content clearfix">
                    <a href="/" class="logo">
                        <picture>
                            <source media="(max-width: 768px), (max-height: 768px)" srcset="/dist/jamfm/images/logo/jamfm_logo_mobil.png, /dist/jamfm/images/logo/jamfm_logo_mobil@2x.png 2x, /dist/jamfm/images/logo/jamfm_logo_mobil@4x.png 4x">

                            <img src="/dist/jamfm/images/logo/jamfm_logo_desktop.png"
                                 alt="logo" height="100%" width="141"
                                 srcset="/dist/jamfm/images/logo/jamfm_logo_desktop@2x.png 2x, /dist/jamfm/images/logo/jamfm_logo_desktop@4x.png 4x" />
                        </picture>
                    </a>
                </div>
            </div>
            <div class="navigation-right">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="navigation-current-onair hidden-sm hidden-xs">
                            <div>
                                <span>On air</span>
                                <span>Max@work</span>
                            </div>
                            <div>
                                <a href="#">
                                    <img src="/dist/jamfm/images/lab/mod_max.jpg">
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    #include "_navigation-webradio.html"
</div>
